{% extends 'base.html' %}


{% block title %}
  Главная
{% endblock %}


{% block stylesheets %}
  {{ super() }}
  <link href="assets/css/index.css" rel="stylesheet">
{% endblock %}


{% block content %}
<div class="container">
  <div class="row">
    {% for slug, topic in topics.items() %}
      <div class="col-sm-4 index-box">
        <h3>{{ topic.title }}</h3>
        <ul class="list-unstyled">
          {% for article in topic.articles %}
            <li>
                <a href="{{ article.path|escape }}">{{ article.title|escape }}</a>
            </li>
          {% endfor %}
        </ul>
        <hr>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
